@font-face {
  font-family: GilroyBold;
  src: url("./font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroySemiBold;
  src: url("./font/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./font/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("./font/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./font/Gilroy-ExtraBold.ttf");
}


body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
